/*------------------------------Muro----------------------------- */
.container-post{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right:20px;
    margin-bottom:20px;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
}
.page-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55px auto;
    border-radius: 14px;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.25);
    height: 100vh;
    height:  calc(100vh - 20px);
    justify-content:center;
}
.header-container{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-around;
}
.page-title{
    padding-top:5px ;
    padding-left: 10px;
    width: 12vw;
    min-width: 130px;
}
/*---------------------------Muro:Labels--------------------------- */
.label-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
.post-label{
    border-radius: 10px;
    padding: 10px;
    width: 25vw;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 550;
    display: flex;
    justify-content: center;
}
.post-label:hover{
    transform: scale(1.05);
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.link-labels{
    color:white;
}
.meme{
    background: linear-gradient(89.82deg, #BDE991 0.13%, #A6E5F3 99.82%);
    text-shadow: rgb(145, 191, 146) 1px 0 10px;
}
.vet{
    background: linear-gradient(89.82deg, #9E86FF 0.13%, #FF9595 99.82%);
    text-shadow: rgb(107, 90, 133) 1px 0 10px;
}
.foodie{
    background: linear-gradient(89.19deg, #f2ee89 2.65%, #F4A172 94.74%);
    text-shadow: rgb(197, 131, 65) 1px 0 10px;
}

/*---------------------------Muro:Scroll--------------------------*/
.scroll-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 123px);
    overflow-y: scroll;
    padding:10px;
    padding-right: 5px;
}
.scroll-container::-webkit-scrollbar-track{
    /*  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
background-color: transparent;
}
.scroll-container::-webkit-scrollbar{
    width: 5px;
    height:5px;
    background-color: transparent;
}
.scroll-container::-webkit-scrollbar-thumb{
    background-color: transparent;
}
/*---------------------------Muro:Post----------------------------*/
.background-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.profile-post{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 3vw;
    width: 90vw;
    min-width: 298px;
    padding: 15px 10px 10px 20px;
    background: linear-gradient( to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.2) );
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-bottom: 20px;
}
.publish{
    background: #FFFFFF;
    padding-right: 20px;
}
.post-file{
    width: 40vw;
    min-width: 100px;
}
.container-photo{
    position: relative;
    align-self: flex-start;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    background: rgb(227, 205, 255)
}
.container-photo >.profile-photo {
    width: 60px;
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
}
.name-input{
    color: #120B73;
    font-size: 15px;
    font-weight: 550;
}
.text-output,
.text-input{
    width: 70vw;
    min-width: 180px;
    height: 50px;
    border-radius: 10px;
    resize: none;
    border:none;
    outline: none;
}
.text-input{
    width: 50vw;
}
.text-output{
    padding-top: 5px;
    padding-bottom: 10px;
    height: 0px;
}
.post-icon{
    display:flex;
    justify-content: space-between;
}

.img-memes{
    display:none;
}
.post-button{
    position: relative;
    background: #ed6e67;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 550;
    padding: 5px 15px;
    height: 35px;
    width: 80px;
}
.meow{
    position: absolute;
    top:75px;
    right:40px;
    color: rgb(19, 25, 204);
}
.post-button:hover{
    cursor: pointer;
    background: #f15b54;
}
.fa-cat,
.fa-sign-out-alt{
    color: #4f46c896;
    font-size: 20px;
    display: block;
    cursor: pointer;
}
.fa-cat:hover{
    color: #4f46c8;
}
.fa-sign-out-alt:hover{
    color: #4f46c8;
}
.hiddenIcon{
    color: yellow;
}
.update-post{
    position:absolute;
    right: 15px;
    top:17.5px;
}
.btn-edit,
.btn-delete{
    background-color: transparent;
    border: none;
    color: #4f46c862 ;
}
.btn-edit:hover{
    cursor: pointer;
    color: #4f46c8;
}
.btn-delete:hover{
    cursor: pointer;
    color: #4f46c8;
}

.profile-container{
    position: absolute;
    background: linear-gradient( to right bottom, 
        rgba(255, 255, 255, 0.919), 
        rgba(255, 255, 255, 0.72) );
    top: 43vh;
    width: 95vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition:  0.5s;
}
.show{
    top: -100vh;
    transition:  0.5s;
}
.label-name{
    display:none;
}
.post-photo{
    width: 58vw;
    min-width: 190px;
    padding-top: 15px;
}
.likes-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.num-like{
    padding: 5px;
    color: rgb(250, 119, 189);
}
.pata{
    width: 35px;
}
.pata:hover{
    cursor: pointer;
}
.profile-fondo{
    width:95vw;
    height: 150px;
    min-width: 150px;
}
.container-userPhoto{
    position: relative;
    top: -70px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    background: rgb(227, 205, 255)
}
.container-userPhoto >.profile-userPhoto {
    width: 120px;
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
}

.container-profile{
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-name{
    color: #120B73;
    font-size: 25px;
    font-weight: 550;
}
.profile-email{
    color: #D86058;
    font-size: 15px;
    font-weight: 550;
}
.profile-btn{
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 15px;
    background: #746CEF;
    margin:21px;
    cursor:  pointer;
}
